<div class="container">
    <div class="row">
        <div class="col-md-12"></div>
            <table border="1" *ngIf="categories" class="table table-dashed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>CategoryId</th>
                        <th>categoryName</th>
                    </tr>
            
                </thead>
            
                <tbody>
                        <tr *ngFor="let category of categories">
                            <td>{{category._id}}</td>
                            <td>{{category.categoryName}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="editCategory(category._id)" >Edit</button>
                                <button class="btn btn-danger"  (click)="deleteCategory(category._id)">Delete</button>                            </td>
                        </tr>
                </tbody>
            </table> 
    </div>
 </div>
 


    <p>
   
        {{cId}}<br>
        {{categoryName}}
 
  </p>
